{{ define "main" }}
  <div class="hx:mx-auto hx:flex hextra-max-page-width">
    {{ partial "sidebar.html" (dict "context" . "disableSidebar" true "displayPlaceholder" true) }}
    <article class="hx:w-full hx:break-words hx:flex hx:min-h-[calc(100vh-var(--navbar-height))] hx:min-w-0 hx:justify-center hx:pb-8 hx:pr-[calc(env(safe-area-inset-right)-1.5rem)]">
      <main id="content" class="hx:w-full hx:min-w-0 hextra-max-content-width hx:px-6 hx:pt-4 hx:md:px-12">
        {{ partial "breadcrumb.html" (dict "page" . "enable" false) }}
        <br class="hx:mt-1.5 hx:text-sm" />
        <div class="content">{{ .Content }}</div>
        {{- $pages := sort .Pages "Date" "desc" -}}
        {{- $pagerSize := site.Params.blog.list.pagerSize | default 10 -}}
        {{- $paginator := .Paginate $pages $pagerSize -}}
        {{- range $paginator.Pages }}
          <div class="hx:mb-6">
            <div class="hx:text-xl hx:text-gray-500 hx:dark:text-gray-400">{{ partial "utils/format-date" .Date }}</div>
            <a href="{{ .RelPermalink }}" class="hx:inline-block hx:text-xl hx:underline hx:underline-offset-2 hx:decoration-from-font">
              {{ .Title }}
            </a>
          </div>
        {{ end -}}

        {{- if gt $paginator.TotalPages 1 -}}
          {{ partial "components/blog-pager.html" $paginator }}
        {{- end -}}
      </main>
    </article>
    <div class="hx:max-xl:hidden hx:h-0 hx:w-64 hx:shrink-0"></div>
  </div>
{{- end -}}
